<!DOCTYPE html>
<html>
  <head>
    <title>Prospect Finder | <%= @title %></title>
  </head>
  <body>
    <h1>Prospect Finder</h1>
    <p>
    Given a domain and a list of key words, this app
    will search the domains and indicate if the key words were found.
    </p>
  </body>
</html>
